*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
.tmpoj
build
nbproject/
.idea
.sass-cache
_compass.scss
compass
node_modules


cakephp/app/Config/database.php


# Cake TMP Dirs
/cakephp/app/tmp/*
!/cakephp/app/tmp/

/cakephp/app/tmp/cache/*
!/cakephp/app/tmp/cache/
!/cakephp/app/tmp/cache/empty

/cakephp/app/tmp/cache/models/*
!/cakephp/app/tmp/cache/models/
!/cakephp/app/tmp/cache/models/empty

/cakephp/app/tmp/cache/persistent/*
!/cakephp/app/tmp/cache/persistent/
!/cakephp/app/tmp/cache/persistent/empty

/cakephp/app/tmp/cache/views/*
!/cakephp/app/tmp/cache/views/
!/cakephp/app/tmp/cache/views/empty

/cakephp/app/tmp/logs/*
!/cakephp/app/tmp/logs/
!/cakephp/app/tmp/logs/empty

/cakephp/app/tmp/sessions/*
!/cakephp/app/tmp/sessions/
!/cakephp/app/tmp/sessions/empty

/cakephp/app/tmp/tests/*
!/cakephp/app/tmp/tests/
!/cakephp/app/tmp/tests/empty
